/Week6/nbproject/private/
/Week6/build/
/Week6Tutorial/nbproject/private/
/Week7/nbproject/private/
/Week7Tutorial/nbproject/private/
/Week7Tutorial/build/
/Week2/Week2/build/
/Week2/Week2/nbproject/private/